*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
RTE/
Templates/
Examples/
!*.uvprojx
!*.h
!*.c
EmmmCar-Motor/Keil_project/.vscode/keil-assistant.log
EmmmCar-Motor/Keil_project/.vscode/uv4.log
EmmmCar-Motor/Keil_project/.vscode/uv4.log.lock
EmmmCar-Motor/Keil_project/JLinkLog.txt
EmmmCar-Motor/Keil_project/.vscode/c_cpp_properties.json
*.hex
*./axf
.vscode/c_cpp_properties.json
*.axf
*.__i
